* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@font-face {
  font-family: digital;
  src: url(./font/digital-7.ttf);
}
body {
  min-height: 100vh !important;
}
.font-digital {
  font-family: digital;
}

.header {
  display: flex;
  align-items: center;
}
.bg-header {
  background-color: #3d4246;
}
.color-main {
  color: #eee05b;
}
.vendor {
  font-size: 300%;
  font-weight: bold;
}
.title {
  margin-top: 5rem;
  color: #eee05b;
  font-weight: bold;
  font-size: 450%;
}
.bg-header-table {
  background-color: #d3ad4a;
}
.bg-td-table {
  background-color: #e2d7c3;
}
.logo img {
  margin-left: 2rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.date-time {
  color: #ffffff;
  display: flex;
}
.font-date-time,
.unit span {
  font-size: 250%;
}
table th,
table td {
  font-size: 300%;
  vertical-align: middle !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important ;
  border: 2px solid black !important;
}
.table-content {
  font-size: 150%;
}
.table-content .font-digital {
  font-size: 450%;
  line-height: 120%;
  font-weight: 500;
}
.brand img {
  height: 100%;
}
.footer {
  font-size: 190%;
}
@media (min-height: 1500px) {
  .brand img {
    height: calc(100vh - 1306px) !important;
  }
}
@media (max-height: 1366px) {
  * {
    font-size: 10px;
  }
  table th,
  table td {
    padding-top: 35px !important;
    padding-bottom: 35px !important ;
  }
}
